---
// filepath: lab 1/ManageME/src/pages/login.astro
import Layout from "../layouts/Layout.astro";
import LoginIsland from "../components/LoginIsland";
import "../styles/styles.css";
---

<Layout>
  <div
    class="d-flex justify-content-center align-items-center"
    style="min-height: 60vh;"
  >
    <LoginIsland client:load />
  </div>
</Layout>
